<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Sauced</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1428704924451324</string>
				<string>com.googleusercontent.apps.406307069293-idnt0ealfht0n4m89rv8i9tr3174c31l</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1428704924451324</string>
	<key>FacebookClientToken</key>
	<string>b542682ef208eb21a52da71993a8eb30</string>
	<key>FacebookDisplayName</key>
	<string>Sauced</string>
	<key>FacebookLoginTracking</key>
<string>enabled</string>
	<key>GIDClientID</key>
	<string>406307069293-idnt0ealfht0n4m89rv8i9tr3174c31l.apps.googleusercontent.com</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs access to your Apple Music account to send you notifications related to music events and updates. This enables us to provide a personalized experience based on your music preferences. We respect your privacy and will only use this information to improve our app's functionality.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app requires access to your calendar to manage event dates effectively. We use your calendar to schedule and display events you are interested in. Your privacy is important to us, and we only access this information to enhance your experience.</string>
	<key>NSCameraUsageDescription</key>
    <string>Sauced needs access to your camera to allow you to take and upload profile pictures, enhancing your personalization experience.</string>
    
	   <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We use your location to deliver timely notifications about nearby events and updates, even when the app is not actively in use, ensuring you stay informed about relevant happenings around you.</string>
    
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need access to your location to show where you are on the map</string>
	<!-- <key>NSLocationUsageDescription</key>
	<string>GPS data is required to...</string> -->
	    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Access to your location allows us to display nearby stores and hot sauce locations, providing you with tailored recommendations based on your area.</string>
	<!-- <key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your Microphone.</string> -->

	 <key>NSMicrophoneUsageDescription</key>
    <string>Sauced needs access to your microphone to allow voice input features, enhancing your interaction with the app.</string>
<!--     
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your photo library to select images.</string> -->

	    <key>NSPhotoLibraryUsageDescription</key>
    <string>Sauced needs access to your photo library to select and upload images for your profile and content sharing.</string>
    
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<!-- <string>location</string> -->
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
