<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sauced.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>17</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B3808C2670FE802E0064EC125593D0B319E77385</string>
				<key>dateExpires</key>
				<string>25/10/2025</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.3.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B3808C2670FE802E0064EC125593D0B319E77385</string>
						<key>dateExpires</key>
						<string>25/10/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9FQ9U3MU6U</string>
						<key>name</key>
						<string>Digital Benge LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.3.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B3808C2670FE802E0064EC125593D0B319E77385</string>
						<key>dateExpires</key>
						<string>25/10/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9FQ9U3MU6U</string>
						<key>name</key>
						<string>Digital Benge LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.3.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B3808C2670FE802E0064EC125593D0B319E77385</string>
						<key>dateExpires</key>
						<string>25/10/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9FQ9U3MU6U</string>
						<key>name</key>
						<string>Digital Benge LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.3.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B3808C2670FE802E0064EC125593D0B319E77385</string>
						<key>dateExpires</key>
						<string>25/10/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKGamingServicesKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9FQ9U3MU6U</string>
						<key>name</key>
						<string>Digital Benge LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.3.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B3808C2670FE802E0064EC125593D0B319E77385</string>
						<key>dateExpires</key>
						<string>25/10/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9FQ9U3MU6U</string>
						<key>name</key>
						<string>Digital Benge LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>17.3.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B3808C2670FE802E0064EC125593D0B319E77385</string>
						<key>dateExpires</key>
						<string>25/10/2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9FQ9U3MU6U</string>
						<key>name</key>
						<string>Digital Benge LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9FQ9U3MU6U.org.hotsauce.com</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>9FQ9U3MU6U</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>Sauced.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>736ed910-b1ac-40ef-b73c-38ce57c6db29</string>
				<key>dateExpires</key>
				<string>25/10/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.hotsauce.com</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9FQ9U3MU6U</string>
				<key>name</key>
				<string>Digital Benge LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.3</string>
		</dict>
	</array>
</dict>
</plist>
